# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Debug
/HelpPage.txt
/MonitorAPI/config-skel.h
/MonitorAPI/config-skel.cpp
/.vs/tslazer-rewrite/v17/fileList.bin
/.vs/tslazer-rewrite/v17/Browse.VC.opendb
/.vs/tslazer-rewrite/v17/Browse.VC.db-wal
/.vs/tslazer-rewrite/v17/Browse.VC.db-shm
/.vs/tslazer-rewrite/v17/Browse.VC.db
/.vs/tslazer-rewrite/v17/.suo
/.vs/tslazer-rewrite/v17/ipch/AutoPCH/e392e239d151fa71/M3U8_PARSER.ipch
/.vs/tslazer-rewrite/v17/ipch/AutoPCH/9c66af110f69cf28/M3U8_PARSER.ipch
/.vs/tslazer-rewrite/v17/ipch/AutoPCH/9aa3d658dfc0d5e6/CONFIG-SKEL.ipch
/.vs/tslazer-rewrite/v17/ipch/AutoPCH/4e2107f721cce10/TWITTERSPACEAPI.ipch
/MonitorAPI/Debug/vcpkg.applocal.log
/MonitorAPI/Debug/vc143.pdb
/MonitorAPI/Debug/vc143.idb
/MonitorAPI/Debug/tslazer-rewrite.tlog/tslazer-rewrite.write.1u.tlog
/MonitorAPI/Debug/tslazer-rewrite.tlog/tslazer-rewrite.lastbuildstate
/MonitorAPI/Debug/tslazer-rewrite.tlog/link.write.1.tlog
/MonitorAPI/Debug/tslazer-rewrite.tlog/link.read.1.tlog
/MonitorAPI/Debug/tslazer-rewrite.tlog/link.command.1.tlog
/MonitorAPI/Debug/tslazer-rewrite.tlog/CL.write.1.tlog
/MonitorAPI/Debug/tslazer-rewrite.tlog/CL.read.1.tlog
/MonitorAPI/Debug/tslazer-rewrite.tlog/CL.command.1.tlog
/MonitorAPI/Debug/tslazer-rewrite.ilk
/MonitorAPI/Debug/tslazer-rewrite.exe.recipe
/MonitorAPI/Debug/tslazer-rewrite.Build.CppClean.log
/MonitorAPI/Debug/MonitorAPI.vcxproj.FileListAbsolute.txt
/MonitorAPI/Debug/MonitorAPI.log
